node_modules/
.env
.DS_Store
*.log
pm2-logs/
src/.env
data/
logs/
.deno_lsp/
config.yml
config.*.yml
-config.example.yml
public
frontend/dist
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
frontend/.nitro/