node_modules/
.env
.DS_Store
*.log
pm2-logs/
src/.env
data/
logs/
.deno_lsp/
config.yml
public/_nuxt/
public/200.html
public/404.html
frontend/dist/
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
frontend/.nitro/